<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EquipmentRegistryConnection"
             connectionString="Server=DANIILSOL200\SQLEXPRESS07;Database=EquipmentRegistry;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>